footer    
    .footer--left
        p
            | TechBlog
            span.period .
    .footer--right
        .col
            a(href='/views/home')
                ion-icon(name='accessibility-outline')
                | Home
            a(href='/views/signup')
                ion-icon(name='log-in-outline')
                | SignUp
            a(href='/views/login')
                ion-icon(name='log-in-outline')
                | LogIn
            a(href='/views/blogs')
                ion-icon(name='clipboard-outline')
                | Blog
        .col
            a(href='#')
                ion-icon(name='logo-instagram')
                | Instagram
            a(href='#')
                ion-icon(name='logo-twitter')
                | X
            a(href='#')
                ion-icon(name='logo-linkedin')
                | LinkedIn
            a(href='#')
                ion-icon(name='logo-facebook')
                | Facebook