nav
    .nav--left
        .logo
            img(src='/img/logos/logo.png' alt='logo')
        p
            | TechBlog
            span(class='period') .

    .nav--right
        a(href='/views') Home
        a(href='/views/blogs') Blog
        a(href='/views/login') Log In
        a.sign-up(href='/views/signup') Sign Up