extends base

block headLink
    link(rel='stylesheet' href='/css/addBlog.css')

block headerLinks 
        a(href='/views') Home
        a(href='/views/blogs') Blog
        a.sign-up#logout(style={cursor:'pointer'}) Log Out

block content
    main
        img(class='background-img' src="./../img/take-note.svg", alt="", srcset="")
        p.site-heading Create Your Blog
        form#create-blog
            label(for='title') Title
            input#title(type='text', name='title', placeholder='Title')
            label(for='tags') Tags
            input#tags(type='text', name='tags', placeholder='Tags')
            label(for='content') Content
            textarea#content(name='content', rows='8', cols='30', placeholder='Write Content Here')
            label(for='photo') Upload Image
            input#photo(type='file', name='photo', onchange='displayFileName()')
            span#file-name
            button#submit(type='submit') Submit



    script(type='module', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
    script.
        function displayFileName() {
            const fileInput = document.getElementById("photo");
            const fileNameDisplay = document.getElementById("file-name");
            if (fileInput.files.length > 0) {
                fileNameDisplay.textContent = fileInput.files[0].name;
            } else {
                fileNameDisplay.textContent = "";
            }
        }
        document.getElementById("create-blog").addEventListener("submit", async (e) => {
            e.preventDefault();
            const title = document.getElementById("title").value;
            const tags = document.getElementById("tags").value;
            const content = document.getElementById("content").value;
            const photo = document.getElementById("photo").files[0];
            console.log(title, tags, content);
            console.log(photo);
            const form = new FormData();
            form.append("title", title);
            form.append("tags", tags);
            form.append("content", content);
            form.append("photo", photo);
            try {
            const response = await fetch('/api/v1/blogs',{
                method:'POST',
                body:form,

            })
            const data=await response.json()
            console.log(data)
            if (data.status === "success") {
            alert(data.message);
            window.location.href = "http://127.0.0.1:3000/views/blogs";
            }
            }catch (error) {
            console.log(error)
            //- console.log(error.response.data.message)
            alert(`${data.message}`);
            }
        });

        //- document.getElementById('create-blog').addEventListener('submit', async (event) => {
        //-     event.preventDefault(); // Prevent default form submission
        //-     const title = document.getElementById('title').value;
        //-     const tags = document.getElementById('tags').value;
        //-     const content = document.getElementById('content').value;

        //-     //- const body=JSON.stringify({title,tags,content})
            
        //-     const form = new FormData();
        //-     form.append('title', title);
        //-     form.append('tags', tags);
        //-     form.append('content', content);
        //-     form.append('photo', document.getElementById("photo").files[0]);

        //-     try {
        //-         const response = await fetch('http://127.0.0.1:3000/api/v1/blogs', {
        //-             method: 'POST',
        //-             body: form,
        //-             //- credentials: 'include',
        //-         });
        //-         console.log(response)
        //-         const data = await response.json();
        //-         console.log(data)
        //-         if (response.ok) {
        //-             window.location.href = '/views/blogs';
        //-         } else {
        //-             alert('Error submitting blog');
        //-         }
        //-     } catch (error) {
        //-         console.error('Error:', error);
        //-         alert(error);
        //-     }
        //- });
