doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Blog Ahead
        link(rel='stylesheet' href='/css/style.css')
        block headLink
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(rel='icon' href='/img/logos/logo.png')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
    body 

        include _header

        block content

        include _footer

        script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
        script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')

        script.
            const apiURL='http://127.0.0.1:3000/api/v1/users/logout'
            const logoutBtn=document.getElementById('logout')
            logoutBtn.addEventListener('click',async(e)=>{
                e.preventDefault();
                const response=await fetch(apiURL,{
                    method:'GET',
                })
                const data=await response.json();
                if(data.status='success'){
                    alert(data.message)
                }
                setTimeout(()=>{
                    window.location.href='/views'
                },1000)
            })