<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ahead</title>
    <link rel="stylesheet" href="./../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./../public/img/logos/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="nav--left">
        <div class="logo">
          <img src="./../public/img/logos/logo.png" alt="logo" />
        </div>
        <p>blogtech<span class="period">.</span></p>
      </div>
      <div class="nav--right">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
        <a href="#">Login</a>
        <a href="#" class="sign-up">Sign Up</a>
      </div>
    </nav>
    <div class="main">
      <div class="hero">
        <p class="animate-character">Innovate. Inform. Inspire.</p>
        <img
          src="./../public/img/hero.jpg"
          alt="hero image"
          class="hero--img"
        />
      </div>
      <div class="blogs container">
        <p class="blog-section-heading">Recent Posts</p>
        <div class="grid grid--3-cols">
          <div class="blog-post">
            <div class="blog-post-img">
              <img
                src="./../public/img/pexels-agk42-2599244.jpg"
                alt="blog-post-1"
              />
            </div>
            <p>Cyber Security</p>
            <h3>The Ever-Evolving Cybersecurity Landscape</h3>
            <div class="blog-date-read-info">
              <p>June 26,2023</p>
              <p>5 min read</p>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-img">
              <img
                src="./../public/img/pexels-freestockpro-319968.jpg"
                alt="blog-post-1"
              />
            </div>
            <p>Cyber Security</p>
            <h3>The Ever-Evolving Cybersecurity Landscape</h3>
            <div class="blog-date-read-info">
              <p>June 26,2023</p>
              <p>5 min read</p>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-img">
              <img
                src="./../public/img/pexels-googledeepmind-17483848.jpg"
                alt="blog-post-1"
              />
            </div>
            <p>Cyber Security</p>
            <h3>The Ever-Evolving Cybersecurity Landscape</h3>
            <div class="blog-date-read-info">
              <p>June 26,2023</p>
              <p>5 min read</p>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-img">
              <img
                src="./../public/img/pexels-googledeepmind-18069488.jpg"
                alt="blog-post-1"
              />
            </div>
            <p>Cyber Security</p>
            <h3>The Ever-Evolving Cybersecurity Landscape</h3>
            <div class="blog-date-read-info">
              <p>June 26,2023</p>
              <p>5 min read</p>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-img">
              <img
                src="./../public/img/pexels-with-cloudd-521356380-23709323.jpg"
                alt="blog-post-1"
              />
            </div>
            <p>Cyber Security</p>
            <h3>The Ever-Evolving Cybersecurity Landscape</h3>
            <div class="blog-date-read-info">
              <p>June 26,2023</p>
              <p>5 min read</p>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-img">
              <img
                src="./../public/img/pexels-junior-teixeira-1064069-2047905.jpg"
                alt="blog-post-1"
              />
            </div>
            <p>Cyber Security</p>
            <h3>The Ever-Evolving Cybersecurity Landscape</h3>
            <div class="blog-date-read-info">
              <p>June 26,2023</p>
              <p>5 min read</p>
            </div>
          </div>
        </div>
      </div>
      <div class="explore-more">
        <button><a href="">Explore More Articles</a></button>
      </div>
      <div class="subscribe">
        <p>Don't Miss Our Weekly Post</p>
        <p>
          Subscribe to our newsletter and never miss out on the lateset tech
          trends again.
        </p>
        <form class="parent-form">
          <input
            type="email"
            name="email"
            id="email"
            class="email"
            placeholder="name@email.com"
          />
          <button class="subscribe-button">Subscribe</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <p>blogtech<span class="period">.</span></p>
      </div>
      <div class="footer-right"></div>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
