/* ///////////////////////////////////////////////////////////////////
--- 01 TYPOGRAPHY  SYSTEM
    
-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

COLORS:

PRIMARY COLORS:

TINTS & SHADES:

TEXT COLOR:

/////////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100px;
  height: 100px;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #000;
  color: #f4f4e4;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/*
//////////////////////////////////////////////////////////

                      NAVIGATION

//////////////////////////////////////////////////////////
*/

nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f4f4e4;
  padding: 1.6rem;
  border-bottom: 1px solid #232220;
}
.period {
  color: #01a8b3;
  font-weight: 900;
}
.nav--left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.nav--left img {
  width: 8rem;
  height: 8rem;
}
.nav--left p {
  font-size: 3.6rem;
  font-weight: 800;
}
.nav--right {
  font-size: 1.6rem;
  display: flex;
  gap: 1.2rem;
  margin-right: 3.2rem;
  align-items: center;
}
.nav--right a {
  text-decoration: none;
}
.sign-up {
  border: 1px solid #01a8b3;
  padding: 0.4rem 1.6rem;
  border-radius: 0.8rem;
}
.nav--right a:link,
.nav--right a:visited {
  color: #f4f4e4;
}
.nav--right a:hover,
.nav--right a:active {
  color: #01a8b3;
}
.nav--right .sign-up:hover {
  color: #f4f4e4;
  background-image: linear-gradient(to right, #2a7d81, #01a8b3);
}

/*
//////////////////////////////////////////////////////////

                      HERO SECTION

//////////////////////////////////////////////////////////
*/
.hero {
  width: 80%;
  margin: 6.4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}
.hero p {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 300;
}

.hero--img {
  height: 60vh;
  width: 60%;
  object-fit: cover;
  overflow-y: hidden;
  transform: translate(3);
  border-radius: 10px;
}

/*
//////////////////////////////////////////////////////////

                      BLOG SECTION

//////////////////////////////////////////////////////////
*/

.blogs {
}
.blog-section-heading {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 4.8rem;
}
.grid {
  display: grid;
  gap: 3.2rem;
}
.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}
.blog-post {
  /* border: 1px solid white; */
  height: 50rem;
  border-radius: 20px;
  overflow: hidden;
  background-color: #100e0e;
  box-shadow: 0 0 12px 1px #181616;
  padding: 1.6rem;
}
.blog-post-img {
  overflow: hidden;
  transition: 0.4s;
  border-radius: 20px;
  height: 55%;
}
.blog-post img:hover {
  transform: scale(1.2);
}
.blog-post img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}
.blog-post > p:nth-of-type(1) {
  margin-top: 1.6rem;
  font-size: 2.4rem;
  border-left: 4px solid #01a8b3;
  padding-left: 1.2rem;
  color: #01a8b3;
}
.blog-post h3 {
  margin-top: 2.4rem;
  font-size: 2.4rem;
  padding-left: 1.2rem;
  font-weight: 300;
}
.blog-date-read-info {
  margin-top: 4.8rem;
  padding: 0 1.2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.explore-more {
  margin-top: 4.8rem;
  text-align: center;
}
.explore-more button {
  color: #01a8b3;
  width: 23rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 6.4rem;
  border-radius: 16px;
  border: 1px solid #01a8b3;
  background-color: inherit;
  transition: 0.3s ease;
}
.explore-more button:hover {
  color: #000;
  background-color: #01a8b3;
}
.explore-more a:link,
.explore-more a:visited,
.explore-more a:hover,
.explore-more a:active {
  text-decoration: none;
  color: #f4f4e4;
}
/* explore-more button:hover > a:link {
  color: red;
} */

/*
//////////////////////////////////////////////////////////

                      SUBSCRIBE SECTION

//////////////////////////////////////////////////////////
*/

.subscribe {
  margin-top: 8rem;
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 16rem;
}
.subscribe > p:nth-child(1) {
  margin-bottom: 0.4rem;
}
.subscribe > p:nth-child(2) {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.parent-form {
  position: relative;
}
.email {
  width: 25%;
  height: 7vh;
  border-radius: 10rem;
  border: 1px solid transparent;
  background-color: #100e0e;
  padding: 1.6rem;
}
.email:active {
  border-radius: 1px solid #01a8b3;
}
.email::placeholder {
  color: #f4f4e4ae;
}
.subscribe-button {
  position: absolute;
  top: 4vh;
  left: 55%;
  transform: translateY(-50%);
  height: 3.2rem;
  background-color: #01a8b3;
  border-radius: 10rem;
  border: 1px solid transparent;
  width: 9rem;
  padding: 0.4rem;
  color: #f4f4e4;
}
.footer-left {
}
