/* ///////////////////////////////////////////////////////////////////
--- 01 TYPOGRAPHY  SYSTEM
    
-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

COLORS:

PRIMARY COLORS:

TINTS & SHADES:

TEXT COLOR:

/////////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100px;
  height: 100px;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #000;
  color: #f4f4e4;
}

/*
//////////////////////////////////////////////////////////

                      NAVIGATION

//////////////////////////////////////////////////////////
*/

nav {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f4f4e4;
  padding: 1.6rem;
  height: 20vh;
}
.period {
  color: #01a8b3;
  font-weight: 900;
}
.nav--left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.nav--left img {
  width: 8rem;
  height: 8rem;
}
.nav--left p {
  font-size: 3.6rem;
  font-weight: 800;
}
.nav--right {
  font-size: 1.6rem;
  display: flex;
  gap: 1.2rem;
}
.nav--right a {
  text-decoration: none;
}

.nav--right a:link,
.nav--right a:visited {
  color: #f4f4e4;
}
.nav--right a:hover,
.nav--right a:active {
  color: #01a8b3;
}

/*
//////////////////////////////////////////////////////////

                      HERO SECTION

//////////////////////////////////////////////////////////
*/
.hero {
  width: 80%;
  margin: 6.4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  perspective: 120rem;
}
.hero p {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 300;
}

.hero--img {
  height: 60vh;
  width: 60%;
  object-fit: cover;
  overflow-y: hidden;
  transform: translate(3);
  border-radius: 10px;
}
